/* General Styles */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.input-container {
  margin: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 300px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #61dafb;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}

button:disabled {
  background-color: #9fdbff;
  cursor: not-allowed;
}

.error-message {
  color: red;
  font-size: 18px;
}

.metrics-container {
  text-align: left;
  margin: 20px auto;
  width: 80%;
  max-width: 1000px;
}

.metrics-container h2 {
  color: #61dafb;
}

/* Grid Layout */
.metrics-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin: 20px 0;
}

/* Metric Card Styling */
.metric-card {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Light Mode Styles */
.light-mode .metric-card {
  background-color: #f4f4f4;
  color: #000;
}

/* Dark Mode Styles */
.dark-mode .metric-card {
  background-color: #333;
  color: #fff;
}

.App-header h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.App-header .highlight {
  color: red;
}

.light-mode {
  background-color: #ffffff;
  color: #000000;
}

.dark-mode {
  background-color: #282c34;
  color: #ffffff;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  max-width: 800px;
}

.chart {
  width: 100%;
  max-width: 600px;
  margin: 20px 0;
}

.chart h3 {
  color: #61dafb;
  margin-bottom: 10px;
}

/* Theme Toggle Button */
.theme-toggle-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f4f4f9;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 9999;
  color: #000000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.theme-toggle-button i {
  font-size: 24px;
}

.pie-chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
